<video autoplay muted loop id="myVideo">
  <source src="/dog.mp4" type="video/mp4">
</video>

<div class="login-page">
  <div class="form-signin">
  <h1 class="h3 mb-3 font-weight-normal">Please Login</h1>
  <%= form_for :session, url: login_path do |f| %>
    <%= flash[:error] if flash[:error] %>
    <%= f.label :username, class: "sr-only" %>
    <%= f.text_field :username, class: "form-control", placeholder: "Username" %>
    <%= f.label :password, class: "sr-only" %>
    <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
    <%= f.submit 'Login', class: "btn btn-lg btn-primary btn-block" %>
  <% end %>
  </div>
</div>
