<%= render 'shared/background' %>

<div class="jumbotron signup">
    <h1 class="display-3">Welcome to CutieGram!</h1>
    <p>Upload your pictures and share them with your friends.</p>
    <%= render 'shared/errors', object: @user %>
    <%= form_for(@user) do |user_builder| %>
      <div style="display: inline; margin: 10px">
        <%= user_builder.label :username %>
        <%= user_builder.text_field :username %>

        <%= user_builder.label :password %>
        <%= user_builder.password_field :password %>

        <%= user_builder.label :password_confirmation %>
        <%= user_builder.password_field :password_confirmation %>
      </div>
      <%= user_builder.submit 'Sign Up', class: "btn btn-primary btn-sm" %>
    <% end %>
</div>
