<div class="border-bottom border-secondary mx-auto modal-dialog-centered show-profile-header row" style="width: 40%">
  
      <%= image_tag(@user.image.url(:original), class: "show-page-pic mr-5") %>


  <div class="show-profile-pic">
    <div class="row">
      <h2 class="card-title"> <%= @user.username %> </h2>
      <% if @current_user.following?(@user) %>
        <%= button_to 'Unfollow', unfollow_user_path(@user), method: :delete, class: "btn btn-primary ml-5" %>
      <% elsif @current_user != @user %>
        <%= button_to 'Follow', follow_user_path(@user), class: "btn btn-primary ml-5" %>
      <% end %>
    </div>
    <div class="row mt-2">
      <h5 class="ml-2 mr-1"><strong><%= @user.posts.count %></strong><%=" post".pluralize(@user.posts.count)%></h5>
      <h5 class="ml-1 mr-1"><strong><%= link_to "#{@user.followeds.count} follower".pluralize(@user.followeds.count), followed_user_path(@user) %></strong></h5>
      <h5 class="ml-1 mr-1"><strong><%= link_to "#{@user.followers.count} following", following_user_path(@user) %></strong></h5>
    </div>
    <div class="profile-name">
      <% if @user.location.present? %>
        <h5 class="mt-2 mr-3"><i class='fas fa-map-marker-alt mr-2' style='font-size:21px'></i><%= link_to @user.location, "http://www.google.com/maps/place/#{@user.location}", target: :_blank %></h5>
      <% end %>
      <h6 class="card-title mt-3 ml-1"> <%= @user.num_likes %><%= " like".pluralize(@user.num_likes) %> total </h6>
    </div>
    <div class="followers-list">
      <% if @user.followeds.any? %>
        <p>Followed by </p>
        <% counter = 0 %>
        <% counter2 = 0%>
        <% @user.followeds.each do |user| %>
            <% if counter < 2 %>
            <p class="ml-1"> <%= link_to user.username, user_path(user)%><%= ", "%> </p>
            <% elsif counter == 2 %>
              <p class="ml-1"> <%= link_to user.username, user_path(user)%><%= " "%> </p>
            <% else %>
              <% if @user.followeds.count > 3 %>
                <% if counter2 == 0 %>
                  <p class="ml-1"><%= " and #{@user.followeds.count-3} others." %></p>
                  <% counter2 += 1%>
                <% end %>
              <% end %>
            <% end %>
            <% counter += 1%>
        <% end %>
      <% else %>
        <p>You have no followers yet</p>
      <% end %>
    </div>
  </div>


    

    
</div>
<div class="container mt-5 user-show-images">
  <div class="row">
    <% @user.posts.order('created_at DESC').each do |post| %>
      <%if post.image.exists?%>
        <div class="col-sm-4 mb-4">
          <%= link_to (image_tag(post.image.url(:original), class: "card-img-top show")), post_path(post) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

