    <div class="border-bottom border-secondary mx-auto modal-dialog-centered profile-header" style="width: 40%">
      <div class="profile-pic">
        <% if @user.image.exists?%>
          <%= image_tag(@user.image.url, class: "show-pic") %>
        <% end %>
        <% if @user.location.present? %>
          <h4><i class='fas fa-map-marker-alt mr-2' style='font-size:21px'></i><%= link_to @user.location, "http://www.google.com/maps/place/#{@user.location}", target: :_blank %></h4>
        <% end %>
      </div>
      <div class="profile-name">
        <div>
          <div class="float-left ml-2">
            <h2 class="card-title"> <%= @user.username %> </h2>
          </div>
          <div class="float-right ml-5">
            <h4 class="card-title mt-2"> <%= @user.num_likes %><%= " like".pluralize(@user.num_likes) %> total </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5 user-show-images">
      <div class="row">
        <% @user.posts.order('created_at DESC').each do |post| %>
          <%if post.image.exists?%>
            <div class="col-sm-4 mb-4">
              <%= link_to (image_tag(post.image.url, class: "card-img-top show")), post_path(post) %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>