<!--<h1> <%= @user.username %>'s Posts </h1>

<%= button_to "Delete Account", @user, method: :delete %>-->

<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
          <svg class=“bd-placeholder-img card-img-top” width=“100%” height=“225” xmlns=“http://www.w3.org/2000/svg” preserveAspectRatio=“xMidYMid slice” focusable=“false” role=“img” aria-label=“Placeholder: Thumbnail”><title>Placeholder</title><rect width=“100%” height=“100%” fill=“#55595C”/><text x=“50%” y=“50%” fill=“#ECEEEF” dy=“.3em”>Thumbnail</text></svg>
            <% @user.posts.each do |post| %>
                
                    <div class="card text-center rounded-left mt-4 col" style="width: 100; height: 200">
                        <%= link_to (image_tag(post.image.url, class: "card-img-top")), post_path(post)%>
                        <div class="card-body">
                            <p class="card-text"> <%=post.description%> </p>
                        </>
                    </div>
              
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
    <%= yield %>
  </body>
</html>