<!--<%= button_to "Delete Account", @user, method: :delete %>-->
    <div class="border-bottom border-secondary mx-auto mt-4 modal-dialog-centered justify-content-center" style="width: 25%; height: 75px">
      <div class="float-left ml-2">
        <h2 class="card-title"> <%= @user.username %> </h2>
      </div>
      <div class="float-right ml-5">
        <h4 class="card-title"> <%= @user.num_likes %><%= " like".pluralize(@user.num_likes) %> total </h4>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row">
        <% @user.posts.each do |post| %>
          <%if post.image.exists?%>
            <div class="col-sm-4 mb-4">
              <%= link_to (image_tag(post.image.url, class: "card-img-top show")), post_path(post) %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>