<h1> <%= @user.username %>'s Posts </h1>

<div id='posts'>
    <% @user.posts.each do |post| %>
        <div class='post'>
            <%= link_to image_tag(post.image.url), post_path(post) %>
            <!--<%= post.content%>
            <div class='comments'>
                <%= post.comments.each do |comment| %>
                    <strong><%= comment.user %></strong> <%= comment.content%>
                <% end %>
            </div>
            <div class='new-comment'>
                <%= form_for(post.comments.build) do |comment_builder| %>
                    <%= comment_builder.hidden_field :post_id %>
                    <%= collection_select :user_id, @users, :id, :username %>

                    <%= comment_builder.label :content %>
                    <%= comment_builder.text_area :content %>

                    <%= comment_builder.submit "Reply" %>
                <% end %>
            </div>-->
        </div>
    <% end %>
</div>

<%= button_to "Delete Account", @user, method: :delete %>