<div class="search-results">
    <h2>Your search results: </h2>
    <br>
    <h3>Users that match your search:</h3><br>
    <% if !@users.empty? %>
        <div class="container mt-5">
            <div class="row profile-pic">
            <% @users.each do |user| %>
                <% if user.image.exists? %>
                    <div class="ml-3">
                        <%= link_to image_tag(user.image.url), user_path(user) %>
                    </div>
                <% end %>
                <h4 class="ml-3 mt-2"><%= link_to user.username, user_path(user) %> - <%= user.posts.count %><%= " post".pluralize(user.posts.count) %> </h4>
            <% end %>
            </div>
        </div>
    <% else %>
        <h4>No posts match your search parameters</h4>
    <% end %><br><br>
    <h3>Posts that match your search:</h3><br>
    <% if !@posts.empty? %>
        <div class="container mt-5">
            <div class="row">
            <% @posts.each do |post| %>
                <% if post.image.exists? %>
                    <%= link_to image_tag(post.image.url, class: "card-img-top m-2 show"), post_path(post) %>
                <% end %>
            <% end %>
            </div>
        </div>
    <% else %>
        <h4>No posts match your search parameters</h4>
    <% end %>
</div>
