<h1 class="display-2 text-center mt-5">Check out all of these Cuties!</h1>
<div class="post-index-scroll bg-tansparent" style="max-height: 100vh;">
    <% if @user.followers.any? %>
        <div class="users-scroll" style="max-width: 30rem;">
            <% @user.followers.each do |user| %>
                <% if user.image.exists? %>
                    <div class="following-scroll text-center ml-2 mr-2"><%= link_to image_tag(user.image.url, class: "show-pic mx-autp"), user_path(user) %><%= link_to user.username, user_path(user), class: "mt-4"%>  </div>
                <% end %>
            <% end %>
        </div>
    <% end %>
    <div>
        <% if @posts.blank? %>
            <div id="follow-suggestion">
                <h5>Looks like you don't have any followers...</h5>
                <h5>Maybe these tags will give you some ideas!</h5>
                <% Tag.random_five_tags.each do |tag| %>
                    <%= link_to '#' + tag.name, searches_path(query: tag.name), class: "btn btn-outline-secondary" %>
                <% end %>
            </div>
        <% else %>
            <% @posts.each do |post| %>
                <% if post.image.exists? %>
                    <div class="card mx-auto mt-4" style="width: 30rem;">
                        <div class="card mt-0" style="width: 30rem;">
                            <div class="card-body modal-dialog-centered" style="height: 3.5rem;">
                                <% if post.user.image.exists?%>
                                    <%= image_tag(post.user.image.url, class: "show-pic index-card") %>
                                <% end %>
                                <strong><p class="card-text"><%=link_to post.user.username, user_path(post.user)%></p></strong>
                            </div>
                            <%= link_to (image_tag(post.image.url, class: "card-img-top")), post_path(post)%>
                            <div class="card-body text-center">
                                <p class="card-text"> <%=post.description%> </p>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>
<div class="right d-none d-sm-none d-md-none d-lg-none d-xl-block">
    <div class="modal-dialog-centered profile-header index">
        <div class="profile-pic">
            <% if @user.image.exists? %>
                <%= link_to image_tag(@user.image.url, class: "show-pic"), user_path(@user) %>
            <% end %>
            <% if @user.location %>
                <h4><i class='fas fa-map-marker-alt mr-1' style='font-size:17px'></i><%= link_to @user.location, "http://www.google.com/maps/place/#{@user.location}", style: "font-size: 17px", target: :_blank %></h4>
            <% end %>
        </div>
        <div class="profile-name">
            <div>
                <div class="float-left ml-2">
                    <h3 class="card-title"> <%= link_to @user.username, user_path(@user)%> </h3>
                </div>
                <div class="float-right ml-5">
                    <h5 class="card-title mt-1"> <%= @user.num_likes %><%= " like".pluralize(@user.num_likes) %> total </h5>
                </div>
            </div>
        </div>
            <div class="top-five">
                <h3 class="border-bottom border-primary mt-5 mb-4">Recommended Cuties for you to follow!</h3>
                <% @user.not_following[0...5].each do |user| %>
                    <div class="row mt-2">
                        <% if user.image.exists? %>
                            <%= link_to image_tag(user.image.url, class: "show-pic"), user_path(user) %>
                        <% end %>
                        <div class="mt-2 ml-2">
                            <h5><strong><%= link_to user.username, user_path(user) %></strong> - <%= user.posts.count %> <%= " post".pluralize(user.posts.count) %></h5>
                        </div>
                    </div>
                <% end %>
            </div>
    </div>       
</div>

