<div class="new-post">
    <%= render 'shared/errors', object: @post %>
    <h3 class="display-3">Create your super cute post here, friend!</h3>
    <div>
    <%= form_for @post do |f| %>
    
        <div class="inner-form mt-5">
            <div>
                <%= f.label "Please choose an image to upload: ", class: "bigger" %><br>
                <%= f.file_field :image %>
            </div>
            <div class="form-inline">
                <%= f.text_area :description, placeholder: "Description" %>
            
                <%= f.submit "Post", class: "btn btn-lg btn-primary display-4 post-description" %>
            </div>
        </div>
    <% end %>
    </div>
</div>
