<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="card mb-3 mx-auto border-dark" style="max-width: 50vw">
      <div class="row no-gutters">
        <div class="col-md-6 flex-this">
          <%= image_tag(@post.image.url(:thumb), class: "card-img show-img")%>
        </div>
        <div class="col-md-6 flex-this">
          <div class="card-body">
            <div class="border-bottom border-secondary">
              <h4 class="card-title card-head"><%= link_to @post.user.username, user_path(@post.user) %></h4><p class="ml-4 card-head">Posted on <%= @post.created_at.strftime("%B %d, %Y at %I:%M %p") %></p>
              <p><%= @post.description %></p>
            </div>
            <div class="border-bottom border-secondary comments" >
              <h5>Comments:</h5>
                <ul>
                  <% if @post.comments.blank? %>
                  <li>
                    <p class="card-text">Thers are no comments yet.</p>
                  </li>
                  <% else %>
                      <% @post.comments.each do |comment| %>
                        <li>
                          <strong><p class="card-text"><%= link_to comment.user.username, user_path(comment.user) %></p></strong>  <p><%= comment.content %></p>
                        </li>
                      <% end %>
                  <% end %>
                </ul>
            </div>

            <div class="mt-2">
              <%= button_to 'Like', like_post_path(@post), method: :patch, class: "likes" %>
              <p class="likes ml-3">Liked by: <%= @post.likes %><%=" person".pluralize(@post.likes)%> </p>
            </div>
            <div class="comment-form">
              <%= form_for [@post, Comment.new] do |f| %>
            
                <%= f.text_area :content, placeholder: "Make a comment" %>

                <%= f.submit 'Comment' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% if @post.user == @current_user %>
      <div class="footer">
        <%= button_to 'Edit', edit_post_path(@post), method: :get, class: "bottom-buttons" %>
        <%= button_to 'Delete', post_path(@post), method: :delete, class: "bottom-buttons" %>
      </div>
    <% end %>
    <%= yield %>

  </body>
</html>

<!--

-->