
    <div class="card mb-3 mx-auto border-dark" style="max-width: 50vw">
      <div class="row no-gutters">
        <div class="col-md-6 flex-this">
          <%= image_tag(@post.image.url(:thumb), class: "card-img show-img m-0")%>
        </div>
        <div class="col-md-6 flex-this">
          <div class="card-body">
            <div class="border-bottom border-secondary card-top">
                <% if @post.user.image.exists?%>
                  <%= image_tag(@post.user.image.url, class: "show-pic") %>
                <% end %>
              <div class="name-description">
                <h4 class="card-title card-head"><%= link_to @post.user.username, user_path(@post.user) %></h4><p class="ml-4 card-head">Posted on <%= @post.created_at.strftime("%B %d, %Y at %I:%M %p") %></p>
                <p><%= @post.description %></p>
              </div>
            </div>
            <div class="border-bottom border-secondary comments" >
              <h5>Comments:</h5>
                <ul>
                  <% if @post.comments.blank? %>
                  <li>
                    <p class="card-text">Thers are no comments yet.</p>
                  </li>
                  <% else %>
                      <% @post.comments.each do |comment| %>
                        <li>
                          <strong><p class="card-text"><%= link_to comment.user.username, user_path(comment.user) %></p></strong>  <p><%= comment.content %></p>
                        </li>
                      <% end %>
                  <% end %>
                </ul>
            </div>

            <div class="mt-3">
              <%= button_to 'Like Post', like_post_path(@post), method: :patch, class: "likes btn btn-primary" %>
              <p class="likes ml-3">Liked by: <%= @post.likes %><%=" person".pluralize(@post.likes)%> </p>
            </div>
            <div class="comment-form">
              <%= form_for [@post, Comment.new] do |f| %>
                <%= f.text_area :content, placeholder: "Make a comment", class: "mt-5" %>
                <%= f.submit 'Comment', class: "btn btn-primary mb-5" %>
              <% end %>
            </div>
            <div class="tags">
              <% @post.tags.each do |tag| %>
                <p><%= link_to "##{tag.name}", tag_path(tag) %> </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% if @post.user == @current_user %>
      <div class="footer">
        <%= button_to 'Edit Post', edit_post_path(@post), method: :get, class: "bottom-buttons btn btn-primary" %>
        <%= button_to 'Delete Post', post_path(@post), method: :delete, class: "bottom-buttons btn btn-danger" %>
      </div>
    <% end %>